body { 
   background-image: url(https://images.unsplash.com/photo-1603428760740-c0089e3760f2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGhvdGVsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    padding: 0%;
}

#video {
    margin-left: 25%;
    margin-bottom: 10%;
    

}

.navbar , .container-fluid { 
    padding: 0% !important;
    background-color:teal;
}

#welcome { 
    margin-top: 110px ;
}

#welcome h1 { 
    font-size: 100px;
    color: white;
    font-family:'Times New Roman', Times, serif ;
}
#welcome p { 
    font-size: 30px;
    color: white;
    font-family:'Times New Roman', Times, serif
}

.beanchlist { 
    display: flex;
    justify-content: space-between;
    border: 2px solid goldenrod;
    background-color: rgba(255, 0, 0, 0.274);
    

}
.beanchlist img { 
    width: 350px;
    height: 200px;
    margin: 5px;
    border-radius: 5%;
}
.HedrBranch h1 , p ,li, h2 { 
    color: white;
}
.HedrBranch { 
    display: flex;
    flex-direction: column;
}
#secondtitle h2 { 
 text-align: center;
 margin-top: 30px;
 font-family:'Times New Roman', Times, serif ;
}
.photosevents {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
 }
 label ,h3 { color: white; 
     
 }

 input { 
    width: 120px;
    height: 30px;
    transition: width 2s, height 4s;
    color: white;
}
input:focus { width: 150px;
            height: 20px;
            border-radius: 5px; }


 @media screen and (max-width: 414px) {
     #welcome h1,p { width: 10%;
    height: 10%;}
  }
     



